[submodule "submodule/Spring"]
	path = submodule/Spring
	url = https://github.com/MengTo/Spring.git
[submodule "submodule/SnapKit"]
	path = submodule/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "submodule/PermissionScope"]
	path = submodule/PermissionScope
	url = https://github.com/nickoneill/PermissionScope.git
[submodule "submodule/Bond"]
	path = submodule/Bond
	url = https://github.com/ReactiveKit/Bond.git
[submodule "submodule/NMessenger"]
	path = submodule/NMessenger
	url = https://github.com/eBay/NMessenger.git
[submodule "submodule/SwiftSpinner"]
	path = submodule/SwiftSpinner
	url = https://github.com/icanzilb/SwiftSpinner.git
[submodule "submodule/PhoneNumberKit"]
	path = submodule/PhoneNumberKit
	url = https://github.com/marmelroy/PhoneNumberKit.git
[submodule "submodule/Sourcery"]
	path = submodule/Sourcery
	url = https://github.com/krzysztofzablocki/Sourcery.git
[submodule "submodule/EasyTipView"]
	path = submodule/EasyTipView
	url = https://github.com/teodorpatras/EasyTipView.git
[submodule "submodule/Localize-Swift"]
	path = submodule/Localize-Swift
	url = https://github.com/marmelroy/Localize-Swift.git
[submodule "submodule/Device"]
	path = submodule/Device
	url = https://github.com/Ekhoo/Device.git
[submodule "submodule/edhita"]
	path = submodule/edhita
	url = https://github.com/tnantoka/edhita.git
[submodule "submodule/SwiftyTimer"]
	path = submodule/SwiftyTimer
	url = https://github.com/radex/SwiftyTimer.git
[submodule "submodule/Blurable"]
	path = submodule/Blurable
	url = https://github.com/FlexMonkey/Blurable.git
[submodule "submodule/DynamicButton"]
	path = submodule/DynamicButton
	url = https://github.com/yannickl/DynamicButton.git
[submodule "submodule/PathKit"]
	path = submodule/PathKit
	url = https://github.com/kylef/PathKit.git
[submodule "submodule/Typist"]
	path = submodule/Typist
	url = https://github.com/totocaster/Typist.git
[submodule "submodule/Splitflap"]
	path = submodule/Splitflap
	url = https://github.com/yannickl/Splitflap.git
[submodule "submodule/Popover"]
	path = submodule/Popover
	url = https://github.com/corin8823/Popover.git
[submodule "submodule/DynamicColor"]
	path = submodule/DynamicColor
	url = https://github.com/yannickl/DynamicColor.git
[submodule "submodule/ActiveLabel"]
	path = submodule/ActiveLabel
	url = https://github.com/optonaut/ActiveLabel.swift.git
[submodule "submodule/Appz"]
	path = submodule/Appz
	url = https://github.com/SwiftKitz/Appz.git
[submodule "submodule/CascadingTableDeleate"]
	path = submodule/CascadingTableDeleate
	url = https://github.com/edopelawi/CascadingTableDelegate.git
[submodule "submodule/Swift-Prompts"]
	path = submodule/Swift-Prompts
	url = https://github.com/GabrielAlva/Swift-Prompts.git
[submodule "submodule/SwiftyAttributes"]
	path = submodule/SwiftyAttributes
	url = https://github.com/eddiekaiger/SwiftyAttributes.git
[submodule "submodule/swift-protobuf"]
	path = submodule/swift-protobuf
	url = https://github.com/apple/swift-protobuf.git
[submodule "submodule/injectionforxcode"]
	path = submodule/injectionforxcode
	url = https://github.com/johnno1962/injectionforxcode.git
[submodule "submodule/SwiftGen"]
	path = submodule/SwiftGen
	url = https://github.com/AliSoftware/SwiftGen.git
[submodule "submodule/SpreadButton"]
	path = submodule/SpreadButton
	url = https://github.com/liuzhiyi1992/SpreadButton.git
[submodule "submodule/LTMorphingLabel"]
	path = submodule/LTMorphingLabel
	url = https://github.com/lexrus/LTMorphingLabel.git
[submodule "submodule/animated-tab-bar"]
	path = submodule/animated-tab-bar
	url = https://github.com/Ramotion/animated-tab-bar.git
[submodule "submodule/Reachability-swift"]
	path = submodule/Reachability-swift
	url = https://github.com/ashleymills/Reachability.swift.git
[submodule "submodule/R-swift"]
	path = submodule/R-swift
	url = https://github.com/mac-cain13/R.swift.git
[submodule "submodule/ExSwift"]
	path = submodule/ExSwift
	url = https://github.com/pNre/ExSwift.git
[submodule "submodule/Whisper"]
	path = submodule/Whisper
	url = https://github.com/hyperoslo/Whisper.git
[submodule "submodule/SwiftyBeaver"]
	path = submodule/SwiftyBeaver
	url = https://github.com/SwiftyBeaver/SwiftyBeaver.git
